<a href="https://colab.research.google.com/github/LSAguirre/proyecto-integrado-2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt:  arma un dataframe de al menos 100 filas con datos random con apellido y nombre, nro_dni, materias de educacion nivel secundario de la argentina que contenga las siguientes columnas: materia escolar, nota 1er Trimestre, nota 2do Trimestre, nota 3er Trimestre, Faltas a clases.

import pandas as pd
import numpy as np
import random

# Lista de materias escolares de nivel secundario en Argentina
materias = [
    "Matemática", "Lengua y Literatura", "Historia", "Geografía", "Ciencias Naturales",
    "Educación Física", "Inglés", "Física", "Química", "Biología", "Filosofía", "Sociología",
    "Arte", "Música", "Informática"
]

# Función para generar un nombre y apellido aleatorio
def generar_nombre_apellido():
  nombres = ["Juan", "María", "Pedro", "Laura", "Carlos", "Ana", "Luis", "Sofia", "Diego", "Valentina"]
  apellidos = ["Gómez", "Pérez", "Rodríguez", "Fernández", "López", "García", "Martínez", "González", "Díaz", "Sánchez"]
  return random.choice(nombres) + " " + random.choice(apellidos)

# Función para generar un DNI aleatorio
def generar_dni():
  return random.randint(10000000, 99999999)

# Generar datos para el DataFrame
data = []
for _ in range(100):
  nombre_apellido = generar_nombre_apellido()
  dni = generar_dni()
  materia = random.choice(materias)
  nota_1er_trimestre = random.randint(1, 10)
  nota_2do_trimestre = random.randint(1, 10)
  nota_3er_trimestre = random.randint(1, 10)
  faltas = random.randint(0, 15)

  data.append([nombre_apellido, dni, materia, nota_1er_trimestre, nota_2do_trimestre, nota_3er_trimestre, faltas])


# Crear el DataFrame
df = pd.DataFrame(data, columns=['Nombre y Apellido', 'Nro DNI', 'Materia Escolar', 'Nota 1er Trimestre', 'Nota 2do Trimestre', 'Nota 3er Trimestre', 'Faltas a clases'])

# Mostrar las primeras 10 filas del DataFrame
print(df.head(10))

  Nombre y Apellido   Nro DNI      Materia Escolar  Nota 1er Trimestre  \
0       Ana Sánchez  31900435  Lengua y Literatura                   8
1        Ana García  65827500            Filosofía                   3
2       Laura López  97280117               Física                   3
3        Ana García  71392974           Sociología                   6
4         Ana Pérez  47435097               Física                   5
5          Ana Díaz  24149105             Historia                   3
6   Laura Rodríguez  29788232          Informática                   3
7    María Martínez  24038727            Geografía                   3
8     Pedro Sánchez  66648956            Filosofía                  10
9      Carlos Gómez  64492477     Educación Física                   5

   Nota 2do Trimestre  Nota 3er Trimestre  Faltas a clases
0                   4                   3                0
1                   5                   7               12
2                   8                   7                6
3                   9                   9                0
4                   2                   7               10
5                   5                   7                2
6                   7                  10                8
7                   4                  10                9
8                   6                   1                5
9                  10                   5                3